{% extends "index.html" %}
{% block content %}
<p class="text-center mt-6 mb-12 mx-64 h-auto md:w-auto">
    Esta aplicación permitirá guardar los registros médicos de distintos pacientes,así como crear recetas de medicamentos
    y además se podrán crear diagnósticos de las pacientes.Por último todos los usuarios pueden ver el listado de farmacias
    cercanas</p>

<div class="text-2xl font-extrabold text-center mt-6 mb-36 h-auto md:w-auto ">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-black to-green-800">
      {% if nick %}
     Listado de elementos del usuario {{ nick }}
      {% else %}
      Para poder tener acceso a las funciones necesita logearse
            <div class="container mt-8">
                <a href="{{ login_out_url }}"
                   class="inline-block text-sm px-4 py-2 leading-none border rounded border-black text-gray-300 bg-gray-900 hover:bg-gray-700 hover:text-white  lg:mt-0">
                    {% if usr %}} Logout {{usr.nickname()}}
                    {% else %}
                    Login
                    {% endif %}
                   </a>
            </div>
      {% endif %}
  </span>
</div>
{% endblock %}
